@import url("https://fonts.google.com/specimen/Outfit:wght@400;700&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--light-gray);
}

.shape {
  
  border: 1px solid #ffffff;
  width: 50%;
  margin: auto;
  background-color: var(--white);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 4px 4px 4px rgb(149, 149, 236);
  padding: 15px;
}
.pic-code {
  display: block;
  max-width: 100%;
  margin: auto;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.shape > h1 {
  color: var(--dark-blue);
  margin-top: 8px;
  font-weight: 700;
  padding: 12px;
  text-align: center;
  font-size: 20px;
}
.shape > p {
  color: var(--grayish-blue);
  font-weight: 400;
  padding: 12px;
  text-align: center;
  font-size: 15px;
}

.attribution {
  bottom: 0;
  position: fixed;
  width: 100%;
}

@media (max-width: 400px) {
  .container,
  .attribution {
    width: 375px;
  }
  .attribution {
    text-align: center;
  }
}
